{{ define "main" }}
<section id="home" class="ac a20 a1p[150px] lg:a1p[100px] 2xl:a6 a7 2xl:at[700px]">
  <div class="a9">
    <div class="flex justify-start a1t aa[-16px]">
      <div class="a5 lg:w-[60%] a32 ad">
        <div>
          <h1 class="aH a1P aJ a28">
            Hey There 👋 I am
            <span class="a1f aI a1B sm:a1B md:a2k[45px] a1D sm:a1D md:a33[50px] ag a34">
              {{ .Params.name }}
            </span>
          </h1>
          <h2 class="a1J a1K a1Q md:a1V a1H">
            <span class="aI">{{ .Params.profession }}</span>
          </h2>
          <p class=" a1J a1K text-base a35 w-full leading-7">
            {{ .Params.summary}}
          </p>
          
        </div>
      </div>
      <div class="a5 lg:a2i/2 a36 ad">
        <div class="ac a37 lg:a38 a20 2xl:a1 2xl:a24 2xl:a39">
          <img src="{{ .Params.profile_image }}"  alt="image" class="af a21" />
          <span class="a1 a3a[-8px] a3b a25">
            <svg width="40" height="38" viewBox="0 0 40 38" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M9.31451 3.18282L32.4926 6.24789C36.3084 6.75249 38.147 11.1986 35.8021 14.2508L21.5587 32.7911C19.2138 35.8434 14.444 35.2126 12.9731 31.6558L4.03852 10.0504C2.56762 6.49355 5.49873 2.67822 9.31451 3.18282Z"
                stroke="#4A6CF7" stroke-width="6" />
            </svg>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div>
    <span class="a1 a3 a3c a25">
      <svg
        width="48"
        height="95"
        viewBox="0 0 48 95"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="0.5"
          cy="47.5"
          r="47.5"
          fill="url(#paint0_radial_6:121)"
        />
        <defs>
          <radialGradient
            id="paint0_radial_6:121"
            cx="0"
            cy="0"
            r="1"
            gradientUnits="userSpaceOnUse"
            gradientTransform="translate(0.5) rotate(90) scale(95)"
          >
            <stop stop-color="white" />
            <stop offset="0.569" stop-color="#F0F4FD" />
            <stop offset="0.993" stop-color="#D9E0F0" />
          </radialGradient>
        </defs>
      </svg>
    </span>
    <span class="a1 aZ a24 a25">
      <svg width="491" height="490" viewBox="0 0 491 490" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="356.5" cy="356.5" r="356.5" fill="url(#paint0_linear_6:37)" />
        <defs>
          <linearGradient id="paint0_linear_6:37" x1="356.5" y1="0" x2="356.5" y2="713" gradientUnits="userSpaceOnUse">
            <stop stop-color="#4A6CF7" />
            <stop offset="1" stop-color="#1E3BB3" />
          </linearGradient>
        </defs>
      </svg>
    </span>
  </div>
</section>


<section id="about" class="a1p[145px] a1q[120px] ac a20 a3o[#f8f9ff]">
  <div class="a9">
    <div class="a6 a1t aa[-16px]">
      <div class="a5 lg:w-[84%]  ad a1E lg:a2K text-center m-auto">
        <span class="font-semibold aJ a1Q md:a1V a28 ">
          About Me
        </span>
        <h2 class="a1f aI a1B sm:a1C md:a2k[45px] a1H mt-2  ">
          {{ .Params.about_me_title }}
        </h2>
        <p class="max-w-[1060px] a1J text-base leading-[30px] a1K mx-auto mt-8">
          {{ .Params.about_me_description }}
        </p>
      </div>
   
    </div>
  </div>
  <div class="a1 aZ ak/2 -translate-y-1/2">
    <svg
      width="60"
      height="120"
      viewBox="0 0 60 120"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="60" cy="60" r="60" fill="url(#paint0_radial_18:24)" />
      <defs>
        <radialGradient
          id="paint0_radial_18:24"
          cx="0"
          cy="0"
          r="1"
          gradientUnits="userSpaceOnUse"
          gradientTransform="translate(60) rotate(90) scale(120)"
        >
          <stop stop-color="white" />
          <stop offset="0.569" stop-color="#F0F4FD" />
          <stop offset="0.993" stop-color="#D9E0F0" />
        </radialGradient>
      </defs>
    </svg>
  </div>
</section>

<section id="services">
  <div class="a9">
    <div class="a1p[120px] a1q[90px] a2r a1s[#E9ECF8]">
      <div class="a6 a1t aa[-16px]">
        <div class="a5 ad">
          <div class="max-w-[1060px] a21 a22 a3g[70px]">
            <span class="a1P a1Q aJ ag a1Y">
              What I Offer?
            </span>
            <h2 class="a1f aI a1B sm:a1C md:a2k[45px] a1H
                  ">
              My Services
            </h2>
            <p class="max-w-[1060px] a1J text-base leading-[30px] mt-8 a1K">
              {{ .Params.my_services_description }}
            </p>
          </div>
        </div>
      </div>
      <div class="a6 a1t aa[-16px]">
        {{ range .Params.services }}
        <div class="a5 md:a2i/2 xl:w-[30%] ad ">
          <div class="az aG hover:a1h a3h a3i a1k a2R ac a20 a1w a22 a3j a1E h-[390px]">
            <div class="a21 a3k a3l a3d a1i a1h a6 a7 a1u a1g group-hover:az group-hover:aJ">
              {{ .icon | safeHTML }}
            </div>
            <h3 class="a1f aI a1V sm:a1U lg:a1V 2xl:a1U group-hover:a1g a28">
              {{ .title }}
            </h3>
            <p class="a1J a1K group-hover:a1g leading-7 text-[15px] line-clamp-6 mt-2">
              {{ .description }}
            </p>
            <div>
              <span class="a1 a2 aZ a25">
                <svg width="218" height="109" viewBox="0 0 218 109" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle opacity="0.05" cx="156.5" cy="-47.5" r="156.5" fill="white" />
                  <circle opacity="0.08" cx="210" cy="6" r="62" fill="white" />
                </svg>
              </span>
              <span class="a1 a3m a3n a25">
                <svg
                  width="23"
                  height="32"
                  viewBox="0 0 23 32"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="21.262"
                    cy="1.12081"
                    r="1.12081"
                    transform="rotate(90 21.262 1.12081)"
                    fill="white"
                  />
                  <circle
                    cx="21.262"
                    cy="30.4863"
                    r="1.12081"
                    transform="rotate(90 21.262 30.4863)"
                    fill="white"
                  />
                  <circle
                    cx="1.76005"
                    cy="1.12081"
                    r="1.12081"
                    transform="rotate(90 1.76005 1.12081)"
                    fill="white"
                  />
                  <circle
                    cx="1.76005"
                    cy="30.4863"
                    r="1.12081"
                    transform="rotate(90 1.76005 30.4863)"
                    fill="white"
                  />
                  <circle
                    cx="11.6228"
                    cy="1.12081"
                    r="1.12081"
                    transform="rotate(90 11.6228 1.12081)"
                    fill="white"
                  />
                  <circle
                    cx="11.6228"
                    cy="30.4863"
                    r="1.12081"
                    transform="rotate(90 11.6228 30.4863)"
                    fill="white"
                  />
                  <circle
                    cx="21.262"
                    cy="10.9839"
                    r="1.12081"
                    transform="rotate(90 21.262 10.9839)"
                    fill="white"
                  />
                  <circle
                    cx="1.76005"
                    cy="10.9839"
                    r="1.12081"
                    transform="rotate(90 1.76005 10.9839)"
                    fill="white"
                  />
                  <circle
                    cx="11.6228"
                    cy="10.9839"
                    r="1.12081"
                    transform="rotate(90 11.6228 10.9839)"
                    fill="white"
                  />
                  <circle
                    cx="21.262"
                    cy="20.8469"
                    r="1.12081"
                    transform="rotate(90 21.262 20.8469)"
                    fill="white"
                  />
                  <circle
                    cx="1.76005"
                    cy="20.8469"
                    r="1.12081"
                    transform="rotate(90 1.76005 20.8469)"
                    fill="white"
                  />
                  <circle
                    cx="11.6228"
                    cy="20.8469"
                    r="1.12081"
                    transform="rotate(90 11.6228 20.8469)"
                    fill="white"
                  />
                </svg>
              </span>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
</section>


<section id="clients" class="a3r a1q[250px] a2f ac">
  <div class="a9">
    <div class="a6 a1t aa[-16px]">
      <div class="a5 ad">
        <div class="aB[570px] a21 a2J a22">
          <h2 class="a1f a1B md:a1C a1g a2V">
            Some of My Happy Clients
          </h2>
          <p class="a1J a1Q a1K">
            There are many variations of passages of Lorem Ipsum available
            but the majority have suffered alteration in some form.
          </p>
        </div>
      </div>
      
      <div class="a5 ad">
        <div class="a6 a1t a7 a1u wow fadeInUp" data-wow-delay=".1s">
          {{ range .Params.clients }}

          <a href="{{ .url }}" target="_blank" rel="nofollow noreferrer"
            class="a6 a7 a1u aB[120px] lg:aB[130px] xl:aB[150px] 2xl:aB[160px] a3s sm:a3t xl:a3u 2xl:aN aq[15px] a3v hover:a3w a3x hover:a16 a8 object-contain" >
            <img src="{{ .logo }}" alt="uideck" />
          </a>
      {{ end}}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="a10[-160px]" id="service-banner">
  <div class="a9">
    <div class="a1h a3q ac a1w a20 a22 aq[30px]">
      <div class="w-full a21 ay">
        <img src="images/brands/nati-web-banner.png" class="object-contain "/>
      </div>
      <div class="a1 a24 a3 aZ a5 a25">
        <svg width="818" height="286" viewBox="0 0 818 286" fill="none" xmlns="http://www.w3.org/2000/svg" class="a21">
          <circle cx="409" cy="409" r="408.5" stroke="url(#paint0_linear_0:1)" />
          <circle cx="409" cy="409" r="349.5" stroke="url(#paint1_linear_0:1)" />
          <defs>
            <linearGradient id="paint0_linear_0:1" x1="-34.5" y1="291.5" x2="851" y2="291.5"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="white" stop-opacity="0.35" />
              <stop offset="0.218415" stop-color="white" stop-opacity="0" />
              <stop offset="0.728079" stop-color="white" stop-opacity="0" />
              <stop offset="1" stop-color="white" stop-opacity="0.35" />
            </linearGradient>
            <linearGradient id="paint1_linear_0:1" x1="29.4768" y1="308.45" x2="787.24" y2="308.45"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="white" stop-opacity="0.35" />
              <stop offset="0.218415" stop-color="white" stop-opacity="0" />
              <stop offset="0.777261" stop-color="white" stop-opacity="0" />
              <stop offset="1" stop-color="white" stop-opacity="0.35" />
            </linearGradient>
          </defs>
        </svg>
      </div>
    </div>
  </div>
</section>

<section id="blog" class="a1p[120px] a2Q a3o[#f8f9ff]">
  <div class="a9">
    <div class="a6 a1t aa[-16px]">
      <div class="a5 ad">
        <div class="aB[600px] a21 a22 a3g[50px]">
          <span class="
                  a1P a1Q aJ ag a1Y
                ">
            Recent Posts
          </span>
          <h2 class="
                  a1f aI a1B
                  sm:a1C
                  md:a2k[45px]
                  a1H
                ">
            From The Blog
          </h2>
          
        </div>
      </div>
    </div>
    <div class="a6 a1t a2h">
      <div class="a5 lg:a2i/2 xl:a2i/3 ad transform transition duration-500 hover:scale-110">
        <div class="
                az
                a2R
                a1w
                a1x
                a2S
              ">
          <a href="#" class="ag">
            <img src="images/news/news-1.jpg" alt="image" class="a5" />
          </a>
          <div class="ai ay sm:a2T">
            <h3>
              <a href="#" class="
                      a1P a1V aI
                      hover:aJ
                      ag a28 a2U
                    ">
                    The RMS TITANIC
              </a>
            </h3>
            <p class="a1J a1K aH a2V line-clamp-4">
              The primary reasons we fight in living our lives are passion, strength, love, and commitment. The Titanic had it all ........You may ask How?
            </p>
            <a href="#" class="
                    a1J a1a aI a1S
                    hover:aJ hover:a2W
                  ">
              Read More
            </a>
          </div>
        </div>
      </div>
      <div class="a5 lg:a2i/2 xl:a2i/3 ad transform transition duration-500 hover:scale-110">
        <div class="
                az
                a2R
                a1w
                a1x
                a2S
              ">
          <a href="#" class="ag">
            <img src="images/news/news-2.jpg" alt="image" class="a5" />
          </a>
          <div class="ai ay sm:a2T">
            <h3>
              <a href="#" class="
                      a1P a1V aI
                      hover:aJ
                      ag a28 a2U
                    ">
                    " Dèjà " Vu conspiracy Revealed
              </a>
            </h3>
            <p class="a1J a1K aH a2V line-clamp-4">
              Deja Vu in French means "already SEEN " it's a sensation where what is happing to u @ that very moment has happened to u before; perhaps on a day u forgotten or in a dream or in a previous life.
            </p>
            <a href="#" class="
                    a1J a1a aI a1S
                    hover:aJ hover:a2W
                  ">
              Read More
            </a>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</section>

<section id="youtube" class="a1p[120px] a2Q">
  <div class="a9">
    <div class="a6 a1t aa[-16px]">
      <div class="a5 ad">
        <div class="aB[600px] a21 a22 a3g[50px]">
          <span class="
                  a1P a1Q aJ ag a1Y
                ">
            Recent Videos
          </span>
          <h2 class="
                  a1f aI a1B
                  sm:a1C
                  md:a2k[45px]
                  a1H
                ">
            From Youtube
          </h2>
          
        </div>
      </div>
    </div>

    <div class="a6 a1t a2h">
      <div class="a5 lg:a2i/2  ad">
        <iframe width="600" height="350" src="https://www.youtube.com/embed/djwUqNRD7xI" class=" a2R
      
        a1w">
        </iframe>
      </div>
      <div class="a5 lg:a2i/2  ad  ">
        <iframe width="600" height="350" src="https://www.youtube.com/embed/zNJ85j9XtAU" class=" a2R
      
        a1w">
        </iframe>
      </div>
    
    </div>
  </div>
</section>

<section id="podcast" class="a1p[120px] a2Q a3o[#f8f9ff]">
  <div class="a9">
    <div class="a6 a1t aa[-16px]">
      <div class="a5 ad">
        <div class="aB[600px] a21 a22 a3g[50px]">
          <span class="
                  a1P a1Q aJ ag a1Y
                ">
            Recent Talk
          </span>
          <h2 class="
                  a1f aI a1B
                  sm:a1C
                  md:a2k[45px]
                  a1H
                ">
            From Podcast
          </h2>
          
        </div>
      </div>
    </div>

    <div class="a6 a1t a2h items-center">
      <div class="my-auto a5 lg:a2i/2 xl:w-[37%]  ad transform transition duration-500 hover:scale-110">
        <div class="

        a2R
      
        a1w
        a2S
   
      ">
        <a href="#" class=" ">
    <img src="https://aliabdaal.com/content/images/2022/08/Lauren-Razavi.jpeg" alt="image" class="a5 object-cover"/>
       </a>

</div>
      </div>
      <div class="a5 lg:a2i/2 xl:w-[37%] h-auto  ad transform transition duration-500 hover:scale-110">
        <div class="
     
        a2R
        a1w
      
        a2S
   
      ">
  <a href="#" class="ag ">
    <img src="https://aliabdaal.com/content/images/2022/08/Lauren-Razavi.jpeg" alt="image" class="a5 object-cover"/>
  </a>

</div>
      </div>
    
    </div>
  </div>
</section>

<section id="testimonial" class="a1p[120px] a2Q">
  <div class="a9">
    <div class="a6 a1t aa[-16px]">
      <div class="a5 ad">
        <div class="aB[600px] a21 a22 a3g[50px]">
          <span class="a1P a1Q aJ ag a1Y"> Awesome Testimonials </span>
          <h2 class="a1f aI a1B sm:a1C md:a2k[45px] a1H">
            Hear From My Clients
          </h2>
          
        </div>
      </div>
    </div>
    <div class="a6 a1t a2h">
      <div class="a5 lg:a2i/2 ad">
        <div class="az a2R ac a1w a3W sm:a3X a3Y a3Z a1x">
          <div class="a1H">
            <img
              src="https://portfolio-tailwind.preview.uideck.com/demos/personal/images/testimonial/lineicons.svg"
              alt="lineicons"
              class="a3_"
            />
          </div>
          <p class="a1J a1Q a1K a1E">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
            laoreet tempus augue, ac venenatis lectus tempus ut. Sed sodales
            erat a libero.
          </p>
          <div class="a6 a7 justify-start">
            <div class="aB[60px] a5 at[60px] a1i a1w a1N">
              <img
                src="https://portfolio-tailwind.preview.uideck.com/demos/personal/images/testimonial/image-1.png"
                alt="image"
                class="a5"
              />
            </div>
            <div>
              <h3 class="a1P aH aI a1L">Musharof Chy</h3>
              <p class="a1a a1K">Founder @ LineIcons</p>
            </div>
          </div>
          <div class="a1 a2A a2B">
            <svg
              width="51"
              height="29"
              viewBox="0 0 51 29"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g opacity="0.15">
                <path
                  d="M12.4311 0.00142075C7.14984 -0.0798293 2.35609 3.33267 1.21859 7.96392C0.568593 10.8077 1.13734 13.6514 2.84359 15.9264C4.63109 18.3639 7.39359 19.9077 10.4811 20.3139L13.3248 27.3014C13.6498 28.0327 14.3811 28.5202 15.1936 28.5202C16.0061 28.5202 16.7373 28.0327 17.0623 27.3014C17.5498 26.0827 18.1186 24.7827 18.6873 23.5639C20.0686 20.4764 21.4498 17.3077 22.5061 14.0577C23.6436 10.6452 23.1561 6.98892 21.2061 4.22642C19.2561 1.54517 16.1686 0.0826707 12.4311 0.00142075ZM19.8248 13.2452C18.7686 16.3327 17.3873 19.5014 16.0873 22.5077C15.8436 23.1577 15.5186 23.7264 15.2748 24.3764L12.5123 17.7139L11.6186 17.6327C9.01859 17.4702 6.58109 16.1702 5.19984 14.3014C3.98109 12.6764 3.57484 10.6452 4.06234 8.69517C4.87484 5.36392 8.36859 2.92642 12.3498 2.92642H12.4311C15.1936 2.92642 17.4686 4.06392 18.9311 6.01392C20.3123 7.96392 20.6373 10.7264 19.8248 13.2452Z"
                  fill="#4A6CF7"
                />
                <path
                  d="M49.0747 4.30772C47.1247 1.54522 44.0372 0.00146484 40.2997 0.00146484C40.2185 0.00146484 40.2185 0.00146484 40.1372 0.00146484C34.9372 0.00146484 30.2247 3.41397 29.0872 7.96397C28.4372 10.8077 29.006 13.6515 30.7122 16.0077C32.4997 18.4452 35.2622 19.989 38.3497 20.3952L41.1935 27.3827C41.5185 28.114 42.2497 28.6015 43.0622 28.6015C43.8747 28.6015 44.606 28.114 44.931 27.3827C45.4185 26.164 45.9872 24.864 46.556 23.6452C47.9372 20.5577 49.3185 17.389 50.3747 14.139C51.5122 10.8077 51.0247 7.07022 49.0747 4.30772ZM47.6935 13.2452C46.6372 16.3327 45.256 19.5015 43.956 22.5077C43.7122 23.1577 43.3872 23.7265 43.1435 24.3765L40.381 17.714L39.4872 17.6327C36.8872 17.4702 34.4497 16.1702 33.0685 14.3015C31.8497 12.6765 31.4435 10.6452 31.931 8.61397C32.7435 5.28272 36.2372 2.84521 40.2185 2.84521H40.2997C43.0622 2.84521 45.3372 3.98272 46.7997 5.93272C48.181 7.96397 48.506 10.7265 47.6935 13.2452Z"
                  fill="#4A6CF7"
                />
              </g>
            </svg>
          </div>
        </div>
      </div>
      <div class="a5 lg:a2i/2 ad">
        <div class="az a2R ac a1w a3W sm:a3X a3Y a3Z a1x">
          <div class="a1H">
            <img
              src="https://portfolio-tailwind.preview.uideck.com/demos/personal/images/testimonial/tailgrids.svg"
              alt="tailgrids"
              class="a40"
            />
          </div>
          <p class="a1J a1Q a1K a1E">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
            laoreet tempus augue, ac venenatis lectus tempus ut. Sed sodales
            erat a libero.
          </p>
          <div class="a6 a7 justify-start">
            <div class="aB[60px] a5 at[60px] a1i a1w a1N">
              <img
                src="https://portfolio-tailwind.preview.uideck.com/demos/personal/images/testimonial/image-2.png"
                alt="image"
                class="a5"
              />
            </div>
            <div>
              <h3 class="a1P aH aI a1L">Devid Sailio</h3>
              <p class="a1a a1K">Founder @ TailGrids</p>
            </div>
          </div>
          <div class="a1 a2A a2B">
            <svg
              width="51"
              height="29"
              viewBox="0 0 51 29"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g opacity="0.15">
                <path
                  d="M12.4311 0.00142075C7.14984 -0.0798293 2.35609 3.33267 1.21859 7.96392C0.568593 10.8077 1.13734 13.6514 2.84359 15.9264C4.63109 18.3639 7.39359 19.9077 10.4811 20.3139L13.3248 27.3014C13.6498 28.0327 14.3811 28.5202 15.1936 28.5202C16.0061 28.5202 16.7373 28.0327 17.0623 27.3014C17.5498 26.0827 18.1186 24.7827 18.6873 23.5639C20.0686 20.4764 21.4498 17.3077 22.5061 14.0577C23.6436 10.6452 23.1561 6.98892 21.2061 4.22642C19.2561 1.54517 16.1686 0.0826707 12.4311 0.00142075ZM19.8248 13.2452C18.7686 16.3327 17.3873 19.5014 16.0873 22.5077C15.8436 23.1577 15.5186 23.7264 15.2748 24.3764L12.5123 17.7139L11.6186 17.6327C9.01859 17.4702 6.58109 16.1702 5.19984 14.3014C3.98109 12.6764 3.57484 10.6452 4.06234 8.69517C4.87484 5.36392 8.36859 2.92642 12.3498 2.92642H12.4311C15.1936 2.92642 17.4686 4.06392 18.9311 6.01392C20.3123 7.96392 20.6373 10.7264 19.8248 13.2452Z"
                  fill="#4A6CF7"
                />
                <path
                  d="M49.0747 4.30772C47.1247 1.54522 44.0372 0.00146484 40.2997 0.00146484C40.2185 0.00146484 40.2185 0.00146484 40.1372 0.00146484C34.9372 0.00146484 30.2247 3.41397 29.0872 7.96397C28.4372 10.8077 29.006 13.6515 30.7122 16.0077C32.4997 18.4452 35.2622 19.989 38.3497 20.3952L41.1935 27.3827C41.5185 28.114 42.2497 28.6015 43.0622 28.6015C43.8747 28.6015 44.606 28.114 44.931 27.3827C45.4185 26.164 45.9872 24.864 46.556 23.6452C47.9372 20.5577 49.3185 17.389 50.3747 14.139C51.5122 10.8077 51.0247 7.07022 49.0747 4.30772ZM47.6935 13.2452C46.6372 16.3327 45.256 19.5015 43.956 22.5077C43.7122 23.1577 43.3872 23.7265 43.1435 24.3765L40.381 17.714L39.4872 17.6327C36.8872 17.4702 34.4497 16.1702 33.0685 14.3015C31.8497 12.6765 31.4435 10.6452 31.931 8.61397C32.7435 5.28272 36.2372 2.84521 40.2185 2.84521H40.2997C43.0622 2.84521 45.3372 3.98272 46.7997 5.93272C48.181 7.96397 48.506 10.7265 47.6935 13.2452Z"
                  fill="#4A6CF7"
                />
              </g>
            </svg>
          </div>
        </div>
      </div>
      <div class="a5 lg:a2i/2 ad">
        <div class="az a2R ac a1w a3W sm:a3X a3Y a3Z a1x">
          <div class="a1H">
            <img
              src="https://portfolio-tailwind.preview.uideck.com/demos/personal/images/testimonial/ayroui.svg"
              alt="ayroui"
              class="a40"
            />
          </div>
          <p class="a1J a1Q a1K a1E">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
            laoreet tempus augue, ac venenatis lectus tempus ut. Sed sodales
            erat a libero.
          </p>
          <div class="a6 a7 justify-start">
            <div class="aB[60px] a5 at[60px] a1i a1w a1N">
              <img
                src="https://portfolio-tailwind.preview.uideck.com/demos/personal/images/testimonial/image-3.png"
                alt="image"
                class="a5"
              />
            </div>
            <div>
              <h3 class="a1P aH aI a1L">Jenifer Lofeez</h3>
              <p class="a1a a1K">Founder @ Ayro UI</p>
            </div>
          </div>
          <div class="a1 a2A a2B">
            <svg
              width="51"
              height="29"
              viewBox="0 0 51 29"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g opacity="0.15">
                <path
                  d="M12.4311 0.00142075C7.14984 -0.0798293 2.35609 3.33267 1.21859 7.96392C0.568593 10.8077 1.13734 13.6514 2.84359 15.9264C4.63109 18.3639 7.39359 19.9077 10.4811 20.3139L13.3248 27.3014C13.6498 28.0327 14.3811 28.5202 15.1936 28.5202C16.0061 28.5202 16.7373 28.0327 17.0623 27.3014C17.5498 26.0827 18.1186 24.7827 18.6873 23.5639C20.0686 20.4764 21.4498 17.3077 22.5061 14.0577C23.6436 10.6452 23.1561 6.98892 21.2061 4.22642C19.2561 1.54517 16.1686 0.0826707 12.4311 0.00142075ZM19.8248 13.2452C18.7686 16.3327 17.3873 19.5014 16.0873 22.5077C15.8436 23.1577 15.5186 23.7264 15.2748 24.3764L12.5123 17.7139L11.6186 17.6327C9.01859 17.4702 6.58109 16.1702 5.19984 14.3014C3.98109 12.6764 3.57484 10.6452 4.06234 8.69517C4.87484 5.36392 8.36859 2.92642 12.3498 2.92642H12.4311C15.1936 2.92642 17.4686 4.06392 18.9311 6.01392C20.3123 7.96392 20.6373 10.7264 19.8248 13.2452Z"
                  fill="#4A6CF7"
                />
                <path
                  d="M49.0747 4.30772C47.1247 1.54522 44.0372 0.00146484 40.2997 0.00146484C40.2185 0.00146484 40.2185 0.00146484 40.1372 0.00146484C34.9372 0.00146484 30.2247 3.41397 29.0872 7.96397C28.4372 10.8077 29.006 13.6515 30.7122 16.0077C32.4997 18.4452 35.2622 19.989 38.3497 20.3952L41.1935 27.3827C41.5185 28.114 42.2497 28.6015 43.0622 28.6015C43.8747 28.6015 44.606 28.114 44.931 27.3827C45.4185 26.164 45.9872 24.864 46.556 23.6452C47.9372 20.5577 49.3185 17.389 50.3747 14.139C51.5122 10.8077 51.0247 7.07022 49.0747 4.30772ZM47.6935 13.2452C46.6372 16.3327 45.256 19.5015 43.956 22.5077C43.7122 23.1577 43.3872 23.7265 43.1435 24.3765L40.381 17.714L39.4872 17.6327C36.8872 17.4702 34.4497 16.1702 33.0685 14.3015C31.8497 12.6765 31.4435 10.6452 31.931 8.61397C32.7435 5.28272 36.2372 2.84521 40.2185 2.84521H40.2997C43.0622 2.84521 45.3372 3.98272 46.7997 5.93272C48.181 7.96397 48.506 10.7265 47.6935 13.2452Z"
                  fill="#4A6CF7"
                />
              </g>
            </svg>
          </div>
        </div>
      </div>
      <div class="a5 lg:a2i/2 ad">
        <div class="az a2R ac a1w a3W sm:a3X a3Y a3Z a1x">
          <div class="a1H">
            <img
              src="https://portfolio-tailwind.preview.uideck.com/demos/personal/images/testimonial/uideck.svg"
              alt="uideck"
              class="a40"
            />
          </div>
          <p class="a1J a1Q a1K a1E">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
            laoreet tempus augue, ac venenatis lectus tempus ut. Sed sodales
            erat a libero.
          </p>
          <div class="a6 a7 justify-start">
            <div class="aB[60px] a5 at[60px] a1i a1w a1N">
              <img
                src="https://portfolio-tailwind.preview.uideck.com/demos/personal/images/testimonial/image-4.png"
                alt="image"
                class="a5"
              />
            </div>
            <div>
              <h3 class="a1P aH aI a1L">Justin Herry</h3>
              <p class="a1a a1K">Founder @ UIdeck</p>
            </div>
          </div>
          <div class="a1 a2A a2B">
            <svg
              width="51"
              height="29"
              viewBox="0 0 51 29"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g opacity="0.15">
                <path
                  d="M12.4311 0.00142075C7.14984 -0.0798293 2.35609 3.33267 1.21859 7.96392C0.568593 10.8077 1.13734 13.6514 2.84359 15.9264C4.63109 18.3639 7.39359 19.9077 10.4811 20.3139L13.3248 27.3014C13.6498 28.0327 14.3811 28.5202 15.1936 28.5202C16.0061 28.5202 16.7373 28.0327 17.0623 27.3014C17.5498 26.0827 18.1186 24.7827 18.6873 23.5639C20.0686 20.4764 21.4498 17.3077 22.5061 14.0577C23.6436 10.6452 23.1561 6.98892 21.2061 4.22642C19.2561 1.54517 16.1686 0.0826707 12.4311 0.00142075ZM19.8248 13.2452C18.7686 16.3327 17.3873 19.5014 16.0873 22.5077C15.8436 23.1577 15.5186 23.7264 15.2748 24.3764L12.5123 17.7139L11.6186 17.6327C9.01859 17.4702 6.58109 16.1702 5.19984 14.3014C3.98109 12.6764 3.57484 10.6452 4.06234 8.69517C4.87484 5.36392 8.36859 2.92642 12.3498 2.92642H12.4311C15.1936 2.92642 17.4686 4.06392 18.9311 6.01392C20.3123 7.96392 20.6373 10.7264 19.8248 13.2452Z"
                  fill="#4A6CF7"
                />
                <path
                  d="M49.0747 4.30772C47.1247 1.54522 44.0372 0.00146484 40.2997 0.00146484C40.2185 0.00146484 40.2185 0.00146484 40.1372 0.00146484C34.9372 0.00146484 30.2247 3.41397 29.0872 7.96397C28.4372 10.8077 29.006 13.6515 30.7122 16.0077C32.4997 18.4452 35.2622 19.989 38.3497 20.3952L41.1935 27.3827C41.5185 28.114 42.2497 28.6015 43.0622 28.6015C43.8747 28.6015 44.606 28.114 44.931 27.3827C45.4185 26.164 45.9872 24.864 46.556 23.6452C47.9372 20.5577 49.3185 17.389 50.3747 14.139C51.5122 10.8077 51.0247 7.07022 49.0747 4.30772ZM47.6935 13.2452C46.6372 16.3327 45.256 19.5015 43.956 22.5077C43.7122 23.1577 43.3872 23.7265 43.1435 24.3765L40.381 17.714L39.4872 17.6327C36.8872 17.4702 34.4497 16.1702 33.0685 14.3015C31.8497 12.6765 31.4435 10.6452 31.931 8.61397C32.7435 5.28272 36.2372 2.84521 40.2185 2.84521H40.2997C43.0622 2.84521 45.3372 3.98272 46.7997 5.93272C48.181 7.96397 48.506 10.7265 47.6935 13.2452Z"
                  fill="#4A6CF7"
                />
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="aq[120px]">
  <div class="a9">
    <div class="a6 a1t aa[-16px]">
      <div class="a5 ad">
        <div class="aB[600px] a21 a22 a3g[50px]">
          <span class="
                  a1P a1Q aJ ag a1Y
                ">
            Contact With Me
          </span>
          <h2 class="
                  a1f aI a1B
                  sm:a1C
                  md:a2k[45px]
                  a1H
                ">
            Have an Project in Mind?
          </h2>
          <p class="a1J a1Q a1K">
            Let's talk!
          </p>
        </div>
      </div>
    </div>
    <div class="a6 a1u a2h">
      <div class="a5 lg:a2c/12 ad">
        <form>
          <div class="a6 a1t a2h">
            <div class="a5 md:a2i/2 ad">
              <div class="a3d">
                <input type="text" placeholder="Enter your name" class="input-field" />
              </div>
            </div>
            <div class="a5 md:a2i/2 ad">
              <div class="a3d">
                <input type="text" placeholder="Company (Optional)" class="input-field" />
              </div>
            </div>
            <div class="a5 md:a2i/2 ad">
              <div class="a3d">
                <input type="email" placeholder="Enter your email" class="input-field" />
              </div>
            </div>
            <div class="a5 md:a2i/2 ad">
              <div class="a3d">
                <input type="text" placeholder="Phone number" class="input-field" />
              </div>
            </div>
            <div class="a5 ad">
              <div class="a3d">
                <textarea rows="4" placeholder="Tell me about your project" class="input-field a41"></textarea>
              </div>
            </div>
            <div class="a5 ad">
              <div class="a42 a22">
                <button class="
                        aL
                        a1u
                        a7
                        a3z
                        a1l
                        a1i
                        a1P
                        a1g
                        a1h
                        a21
                        a8
                        a19
                        a1o
                        hover:a1m hover:a1n
                      ">
                  Contact Me
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "scripts" }}

<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/glightbox.min.js"></script>
<script src="js/isotope.min.js"></script>
<script src="js/images-loaded.js"></script>
<script src="js/main.js"></script>

</script>
<script>
  // ==== for menu scroll
  const pageLink = document.querySelectorAll(".menu-scroll");

  pageLink.forEach((elem) => {
    elem.addEventListener("click", (e) => {
      e.preventDefault();
      document.querySelector(elem.getAttribute("href")).scrollIntoView({
        behavior: "smooth",
        offsetTop: 1 - 60,
      });
    });
  });

  // section menu active
  function onScroll(event) {
    const sections = document.querySelectorAll(".menu-scroll");
    const scrollPos =
      window.pageYOffset ||
      document.documentElement.scrollTop ||
      document.body.scrollTop;

    for (let i = 0; i < sections.length; i++) {
      const currLink = sections[i];
      const val = currLink.getAttribute("href");
      const refElement = document.querySelector(val);
      const scrollTopMinus = scrollPos + 73;
      if (
        refElement.offsetTop <= scrollTopMinus &&
        refElement.offsetTop + refElement.offsetHeight > scrollTopMinus
      ) {
        document.querySelector(".menu-scroll").classList.remove("active");
        currLink.classList.add("active");
      } else {
        currLink.classList.remove("active");
      }
    }
  }

  window.document.addEventListener("scroll", onScroll);

  // ========= glightbox
  const myGallery = GLightbox({
    type: "image",
  });

  //============== isotope masonry js with imagesloaded
  imagesLoaded(".portfolio-container", function () {
    var elem = document.querySelector(".items-wrapper");
    var iso = new Isotope(elem, {
      // options
      itemSelector: ".item",
      masonry: {
        // use outer width of sizer for columnWidth
        columnWidth: ".item",
      },
    });

    let filterButtons = document.querySelectorAll(
      ".portfolio-buttons button"
    );
    filterButtons.forEach((e) =>
      e.addEventListener("click", () => {
        let filterValue = event.target.getAttribute("data-filter");
        iso.arrange({
          filter: filterValue,
        });
      })
    );
  });

  var elements = document.querySelectorAll(".portfolio-buttons button");
  for (var i = 0; i < elements.length; i++) {
    elements[i].onclick = function () {
      var el = elements[0];
      while (el) {
        if (el.tagName === "BUTTON") {
          el.classList.remove("active");
        }
        el = el.nextSibling;
      }
      this.classList.add("active");
    };
  }
</script>
{{ end }}
